.section {

}

.title {
  font-size: var(--xl);
  font-weight: var(--fw-normal);
  color: var(--muted);
  margin-bottom: var(--xl);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.link {
  font-size: var(--fs-lg);
  color: var(--fg);
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: var(--sm);

  &[target="_blank"] .icon {
    font-size: var(--fs-sm);
    color: var(--muted);
    transform: rotate(-45deg);
  }
}